.vcard-container {
  min-width: 250px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.vcard-grid {
  align-items: center;
}

.vcard-avatar {
  width: 56px;
  height: 56px;
}

.vcard-name {
  margin-top: 8px;
  color: #4a4a4a;
}

.vcard-info {
  color: #6b6b6b;
}

.vcard-button {
  margin-top: 10px;
  background-color: #25D366; /* Cor verde do WhatsApp */
  color: white;
  &:hover {
      background-color: #1DAF5B; /* Cor verde mais escura do WhatsApp */
  }
}
